<h1>Cadastro de Imóvel</h1>

<%= form_with(model: @properties) do |f| %>
  <div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :rooms, 'Quartos' %>
    <%= f.number_field :rooms %>
  </div>

  
  <div>
    <%= f.label :daily_ratet, 'Diária' %>
    <%= f.number_field :daily_rate %>
  </div>

  <div>
    <%= f.label :bathroom, 'Banheiros' %>
    <%= f.number_field :bathroom %>
  </div>

  <div>
    <%= f.label :type, 'Tipo' %>
    <%= f.check_box :type %>
  </div>

  <div>
    <%= f.label :pets, 'Aceita Pets' %>
    <%= f.check_box :pets %>
  </div>

  <div>
    <%= f.label :parking_slot, 'Estacionamento' %>
    <%= f.check_box :parking_slot %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>

