<h1>Cadastrar Tipo De Imóvel</h1>

<% if @property_type.errors.any? %>
  <ul>
    <% @property_type.errors.full_messages.each do |error| %>
     <li><%= error %></li>
     <% if error == 'Nome já está em uso' %>
      <%= link_to 'Cadastrar Imóvel', new_property_path%>
      <% end %>
    <%end%>
  </ul>
<% end %>

<%= form_with(model: @property_type) do |f| %>
  <div>
    <%= f.label :name, 'Nome do tipo do seu imóvel' %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit 'Cadastrar' %>
<% end %>